<header id="gh">
  <nav role="navigation" id="navbar">
    <ul id="navbar-main">
      <li class="navbar-tab"><a class="navbar-text" href="#">DTP</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#">Clans</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#">Clan Wars</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#">Events</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#">Statistics</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#">Tools</a></li>
    </ul>
  </nav>
</header>
