<header id="gh">
  <nav role="navigation" id="navbar">
    <ul id="navbar-main">
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-home"></i>DTP</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-shield"></i>Clans</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-bomb"></i>Clan Wars</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-info-circle"></i>Events</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-line-chart"></i>Statistics</a></li>
      <li class="navbar-tab"><a class="navbar-text" href="#"><i class="fa fa-wrench"></i>Tools</a></li>
    </ul>
  </nav>
</header>
