@import url(https://fonts.googleapis.com/css?family=Orbitron:500);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@font-face {
  font-family: "Cracked Johnnie";
  src: url("/assets/fonts/cracked-johnnie.ttf");
}

@font-face {
  font-family: "Supercell Magic";
  src: url("/assets/fonts/supercell-magic.ttf");
}
