$text-color: white;
$text-hover-color: black;
$bg-color: #333;
$bg-hover-color: #EEE;
$animation-dur: 0.25s;

#gh {
  position: fixed;
  top: 0;
  width: 100%;
  background: $bg-color;
}

#navbar {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  a {
    text-decoration: none;
    transition: background-color $animation-dur;
    padding: 0.25em;
    display: flex;
    justify-content: center;
    .navbar-text, &.navbar-text {
      color: $text-color;
      transition: color $animation-dur;
    }
    &:hover {
      background: $bg-hover-color;
      .navbar-text, &.navbar-text {
        color: $text-hover-color;
      }
    }
  }
  .fa {
    vertical-align: center;
  }
  .navbar-tab {
    flex-grow: 1;
    &:nth-of-type(6n+1) {
      border-bottom: 4px solid red;
    }
    &:nth-of-type(6n+2) {
      border-bottom: 4px solid yellow;
    }
    &:nth-of-type(6n+3) {
      border-bottom: 4px solid lime;
    }
    &:nth-of-type(6n+4) {
      border-bottom: 4px solid cyan;
    }
    &:nth-of-type(6n+5) {
      border-bottom: 4px solid blue;
    }
    &:nth-of-type(6n) {
      border-bottom: 4px solid purple;
    }
  }
}
