#globalheader {
  color: white;
  font-family: "Orbitron", sans-serif;
  background-color: $overlay-bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  @include backdrop-filter(blur(5px));
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

#gh-wrapper {
  height: 3.5em;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.75em 1em;
  @include flexbox;
  @include justify-content(space-between);
}

#gh-dtp-logo {
  height: 2em;
}

#gh-search-form {
  max-width: 50%;
  padding: 0 2px; // To fix FA rendering outside content-box
  transition: $animation-duration;
  @include flexbox(inline);
  @include flex(1);
  @include align-items(center);
}

.gh-search-form-focus {
  opacity: 1 !important;
}

#gh-search {
  background: rgba(255, 255, 255, 0.3);
  height: 2em;
  margin-left: 0.5em;
  padding: 0 0.5em;
  border-radius: $border-radius;
  transition: $animation-duration;
  @include flex(1);
  @include placeholder {
    color: white;
    text-align: center;
  }
  &:focus {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 2px dodgerblue, inset 0 0 4px rgba(0, 0, 0, 0.5);
    @include placeholder {
      color: gray;
      text-align: initial;
    }
  }
}

#nav-drawer-toggle {
  background-color: transparent;
  height: 2em;
  width: 2em;
  padding: 0.5em;
  @include flex(0 0 auto);
}

.nav-drawer-toggle-active {
  @include transform(rotate(225deg));
}

#nav-drawer-wrapper {
  overflow: hidden;
  border-top: 2px solid darken($overlay-bg-color, 0.4);
}

.nav-drawer-closed {
  display: none;
}

#nav-drawer {
  max-width: 1200px;
  margin: 0 auto;
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-around);
}

.nav-link {
  color: inherit;
  text-decoration: none;
  margin: 0.5em;
}

#gh-dtp-logo, #gh-search-form, #nav-drawer-toggle, .nav-link {
  opacity: 0.7;
  transition: $animation-duration;
  &:hover {
    opacity: 1;
  }
}

.nav-link-icon {
  font-size: 1.5em;
  text-align: center;
  display: block;
}

#gh-spacer {
  height: 0.25em;
}
