---
---

// External imports
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

// Global variables
$animation-duration: .2s;
$border-radius: 2px;
$overlay-bg-color: rgba(63, 83, 95, 0.9);

// Pre-defined mixins and fonts
@import "fonts";
@import "prefixes";

 // Global properties
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Main styles
@import "base";
@import "gh";
