---
# The global style
---

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css);

@charset "UTF-8";

@font-face {
  font-family: "Supercell Magic";
  src: url("../fonts/supercell-magic.ttf")
}

* {
  box-sizing: border-box;
}

@import "gh";
